.btn.btn-primary{
    color:White !important;
}

.btn.btn-primary::hover{
    
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.375);
    border-radius: 0;
}

.card-img, .card-img-top{
    border-radius: 0;
}