@font-face {
    font-family: Roboto;
    src: url(~/assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Redhat;
    src: url(~/assets/fonts/Redhat/RedHatDisplay-VariableFont_wght.ttf);
}